.carousel-inner {
  max-width: 1200px; /* Adjust width as needed */
  max-height: 800px; /* Adjust height as needed */
  margin: auto; /* Centers the carousel */
}

.carousel-item img {
  object-fit: cover; /* Ensures images cover the container */
  width: 100%; /* Ensures images stretch to container width */
  height: 800px; /* Matches max-height of .carousel-inner */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
  padding-bottom: 60px; /* adjust the value as needed */
}

footer {
  margin-top: auto;
}
